#root {
  max-width: 1200px;
  margin: auto;
  padding: 0 2rem;
}

h1 {
  font-family: 'Indie Flower', cursive;
}

.jon {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1rem;
  width: 5rem;
}

.fade-up {
  animation: fade-in-out 1.5s;
}

@keyframes fade-in-out {
  0% {
    transform: translatey(9rem);
    opacity: 0;
  }
  50% {
    transform: translatey(0rem);
    opacity: 1;
  }
  75% {
    transform: translatey(0rem);
    opacity: 0;
  }
  100% {
    transform: translatey(9rem);
    opacity: 0;
  }
}